#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: blue;
    font-size: 20px;
}
#mycarousel{
    background-color: cyan;
}
img{
    height: 300px;
    margin-top: 35px;
}